@import "bootstrap";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

h1, h2, h3, h4, h5, h6, {
	margin: 0px;
	padding: 0px;
}

.navbar {
	background: image_url('dark-grey-terrazzo.png');
  box-shadow: 1px 2px 4px #2a2a2a;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
	color: white;
  font-family: 'Rubik Mono One', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
  font-size: 30px;
  argin-bottom: 0;
}

.booyah-box {
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
  background: image_url('shattered.png');
}

body {
	background: image_url('white-waves.png');
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.footer-blurb {
	font-family: 'Indie Flower', cursive;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
        height: 300px;
      }

.clear {
    clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
  margin: 5px;
  margin-left: 20px;

}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img-thumbnail {
  border: 1px solid grey;
  border-radius: 5px;
}

hr {
  border-width: 6px;
  border-radius: 3px;
  background-color: black;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
  width: 100%;
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
  display: block;
}

.carousel-caption {
  font-size: 60px;    /* Why is this not working? */
  font-weight: 100;   /* Why is this not working? */
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(60, 60, 60, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}


