<% @places.each do |place| %>
	<div class="booyah-box col-10 offset-1">
		<h1><%= place.name %></h1>
		<i><%= place.address %></i><br /><br />
		<p><%= place.description %></p><br />
	</div>
<% end%>

	<div class="apple_pagination col-4 offset-4">
		<%= will_paginate(@places, renderer: WillPaginate::ActionView::LinkRenderer, previous_label: "⃪  Back", inner_window: 1, outer_window: 0) %>
	</div>